{% extends 'rango/base.html' %}

{% load static %}

{% block title_block %}
Index
{% endblock title_block %}


{% block content %}
<div class="jumbotron">
    <h1 class="display-3">Rango says...</h1>
    {% if user.is_authenticated %}
    howdy {{ user.username }}
    {% else %}
    hey there partner
    {% endif %}
</div>
<div class="row marketing">
    <div class="col-lg-6">
        <h4>Most Liked Categories</h4>
        <p>
            {% if categories %}
        <ul class="list-group">
            {% for category in categories %}
            <li class="list-group-item">
                <a href="{% url 'show_category' category.slug %}">{{  category.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>There are no categories present.</strong>
        {% endif %}
        </p>
    </div>
    <div class="col-lg-6">
        <h4>Most Viewed Pages</h4>
        <p>
            {% if top_5_pages %}
        <ul class="list-group">
            {% for page in top_5_pages %}
            <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>There are no pages to present.</strong>
        {% endif %}
        </p>
    </div>
</div>
<img src='{% static 'images/rango_img.jpg' %}' alt='picture of Rango' />
{% endblock content %}