{% extends 'rango/base.html' %}

{% load static %}

{% block title_block %}
How to Tango with Django!
{% endblock title_block %}


{% block content %}
<div>
    <div>
        {% if user.is_authenticated %}
        howdy {{ user.username }}
        {% else %}
        hey there partner
        {% endif %}
    </div>
    {% if categories %}
    <h2>Most Liked Categories</h1>
        <ul>
            {% for category in categories %}
            <li>
                <a href="{% url 'show_category' category.slug %}">{{  category.name }}</a>
            </li>
            {% endfor %}
        </ul> {% else %}
        <strong>There are no categories present.</strong>
        {% endif %}
</div>
<div>
    {% if top_5_pages %}
    <h2>Most Viewed Pages</h1>
        <ul>
            {% for page in top_5_pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul> {% else %}
        <strong>There are no pages to present.</strong>
        {% endif %}
</div>
<div>
    <img src='{% static 'images/rango_img.jpg' %}' alt='picture of Rango' />
</div>
{% endblock content %}